*
!cmp.m
!Master_Analyze_Executor.sh
!Master_Prep_Executor.sh
!Master_Quality_Control.sh
!Master_SAC_Prep.sh
!multiq2.m
!multiqcalc.f
!multispec.f
!qevol.f
!qs2gmt.f
!qsiter.f
!qsmean.f
!set.m
!sgftops.sh
!sort_EQ_data.sh
!ttsac.sh_mod
!velo_vs_dist_mag4.txt
!velo_vs_dist.txt
ttimes/
!remodl.f
!setbrn.f
!ttimes.f
!*.py
data/